// The custom doTerra colors are in the variables.less file
@import "../less/variables.less";
@import "../less/mixins.less";


/*
 *Setup VEX popup styling
 */

.vex-content.infoDialog {
	font-weight:300 !important;
	width:600px !important;
    //background-color: @doterra-secondary-color !important;
    color:#fff !important;;
}

.vex-content.infoDialog ul.instructions, .vex-content.infoDialog ul.attributions {
	margin-left:10px !important;
	padding-left:10px !important;
	list-style: disc !important;
}

.vex-content.validateDialog {
	width:400px !important;
    background-color:#dedfe0 !important;
	font-weight:500 !important;
	font-size:0.85em !important;
}

.vex-overlay.validateDialogOverlay {
	background:none !important;
}

div.navbar-header {
}

form.snippetForm {
    float:left;
    min-width:300px;
    padding:10px 15px;
}

.glyphicon {
    font-size:1.5em;
}

/* Used to style the jQuery tooptip */
.ui-tooltip {
	font-size:9px;
}
