// The custom doTerra colors are in the variables.less file
@import "../less/variables.less";
@import "../less/mixins.less";


/*
 *Setup VEX popup styling
 */

body {
    padding-top: 57px;
}

.vex-content.snippetCreateContent {
    width:90% !important;
}
    #snippetCreateForm div.snippetContent {
        height:60% !important;
    }

/*.vex-overlay.validateDialogOverlay {*/
	/*background:none !important;*/
/*}*/


.vex-content.signinDialog {
	font-weight:300 !important;
	width:270px !important;
    //background-color: @doterra-secondary-color !important;
    //color:#fff !important;;
}
    .vex-content.signinDialog h2 {
        margin-top:0;
    }
    .vex-content.signinDialog div.signinButton {
        position:relative;
        height:50px;
        margin-top: 8px;
        border-radius: 4px;
        border:none;
    }

    @fb-btn-color: #3da1d4;
    div.facebookButton {
        background-color:@fb-btn-color !important;
    }
    div.facebookButton:hover {
        background-color:darken(@fb-btn-color, 7%) !important;
    }

    @twt-btn-color: #67acdc;
    div.twitterButton {
        background-color:@twt-btn-color !important;
    }
    div.twitterButton:hover {
        background-color:darken(@twt-btn-color, 7%) !important;
    }

    @goog-btn-color: #dd4b39;
    div.googleButton {
        background-color:@goog-btn-color !important;
    }
    div.googleButton:hover {
        background-color:darken(@goog-btn-color, 9%) !important;
    }

    div.signinButton i {
        float: left;
        font-size: 2.5em;
        color:#fff !important;
        line-height: 50px;
        padding-left: 15px;
    }

    div.signinButton p {
        float:left;
        line-height: 50px;
        margin:0 !important;
        padding-right: 15px;
        padding-left: 10px;
        font-size: 1.1em;
        color:#fff !important;
        vertical-align: middle;
    }
    .vex-content.signinDialog ul.instructions, .vex-content.signinDialog ul.attributions {
        margin-left:10px !important;
        padding-left:10px !important;
        list-style: disc !important;
    }

/*
 * Setup header
 */

nav.navbar {
    z-index:6000;
}

nav div.navbar-header {
}
    nav div.navbar-header a.navbar-brand {
        font-weight:bold;
        padding-right:0;
    }
    nav #snippetSearchForm {
        position:relative;
        float:left;
        padding:10px 15px;
    }
        nav #snippetSearchDiv {
            position:relative;
            height:34px;
            border-radius:17px;
            border: 1px solid #cccccc;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }
            nav #snippetSearchDiv.focused {
                border-color: #66afe9;
                outline: 0;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
            }
            nav #snippetSearchField {
                float:left;
                width:200px;
                border-radius:17px;
            }
                nav #snippetSearchField.reset {
                    border:none;
                    background:none;
                    background-color:transparent;
                    box-shadow:none;
                    transition:none;
                }
				nav #snippetSearchField::-webkit-input-placeholder {
					font-size: 0.85em;
				}
            nav #snippetSearchSelectorDiv {
                float:left;
                height:34px;
            }
                nav #snippetSearchSelectorDiv span {
                    margin:7px 0;
                    cursor: pointer;
                }
                    nav #snippetSearchSelectorDiv #personalSnippetCounter {
                        color:#5e5e5e;
                        background-color:@user-snippet-code-color;
                    }
                        nav #snippetSearchSelectorDiv #personalSnippetCounter.selected {
                            border:1px solid #5e5e5e;
                        }
                    nav #snippetSearchSelectorDiv #publicSnippetCounter {
                        margin-right:12px;
                        color:#5e5e5e;
                        background-color:@public-snippet-code-color;
                    }
                        nav #snippetSearchSelectorDiv #publicSnippetCounter.selected {
                            border:1px solid #5e5e5e;
                        }

    .glyphicon {
        font-size:1.5em;
    }
.navbar .navbar-collapse {
    padding-left: 15px;
    padding-right: 15px;
}

@default-rightpanel-width-narrow: 74.9%;
@default-rightpanel-width-wide: 100%;
@default-topicpanel-width: 25%;
@icon-color:#999;
@icon-color-hover:black;
@icon-color-selected:@brand-success;
@icon-hover-color: darken(@icon-color, 15%);
#snippetBlock {
    margin:0 15px;
}
    /*
     * Topic Panel
     */

    #topicPanel {
        position:relative;
        float:left;
        min-height:400px;
        margin-top: 10px;
        background: #eee;
    }
        #topicPanel.loggedin {
            width:@default-topicpanel-width;
        }
        #topicPanel.loggedout {
            width:0;
            display:none;
        }
        #topicPanel .panel-heading {
            height:42px;
            padding:10px 5px;
        }
        #topicPanel .panel-body {
            padding:5px 5px;
        }
        #topicPanel .panel-body #topicForm #topicNameField {
            padding:3px 6px;
        }
            #topicPanel .panel-body #topicForm #topicNameField::-webkit-input-placeholder {
                font-size: 0.85em;
            }
        #topicPanel .panel-body #topicEditForm #topicEditNameField {
            padding:3px 6px;
        }
        #topicPanel .panel-body span.badge.sit-right {
            position:absolute;
            top:4px;
            right:5px;
        }
        #topicTitle {
            position:absolute;
            line-height:21px;
            vertical-align:center;
            font-weight:bold;
        }
        #topicAdd {
            position:absolute;
            right:5px;
            line-height:21px;
            font-size:1.5em;
        }
            #topicAdd span.selected {
                color:@icon-color-selected;
            }
        #topicEdit {
            position:absolute;
            right:40px;
            line-height:21px;
        }
            #topicEdit span.selected {
                color:@icon-color-selected;
            }
        #topicPanel ul {
            padding: 0;
        }
        #topicPanel ul li {
            //list-style-type: none;
            padding: 3px 5px;
        }
        #topicPanel ul li.active {
            color:white;
        }
        #topicPanel li a {
            padding: 0;
            color:inherit;
        }
        #topicPanel li span.topicDelete {
            color:@brand-danger;
            cursor: pointer;
        }
            #topicPanel li span.topicDeleteInvisible {
                color:white;
                opacity:0;
                cursor: auto;
            }
        #topicPanel li a:hover {
            text-decoration: none;
        }

    /*
     * Snippet Panel
     */
    #snippetPanel {
        float: left;
        vertical-align: top;
    }
    #snippetPanel.loggedin {
        width:@default-rightpanel-width-narrow;
    }
    #snippetPanel.loggedout {
        width:@default-rightpanel-width-wide;
    }

    /*
     * Snippet Bar
     */
    #snippetBar {
        position: relative;
        margin-top: 0;
        height: 50px;
        //border:1px solid red;
    }
        #snippetBar a {
            background-color:#fff;
        }
        #snippetBar a span:hover {
            color:@icon-hover-color;
        }
        #leftSnippetBar {
            position:absolute;
            //margin-left: -15px;
            left: 0;
        }
            #toggleIcon a {
                padding-left: 1px;
            }
            #snippetAdd.hide {
                display:none;
            }
            #snippetAdd span.selected {
                color:@icon-color-selected;
            }
            #snippetAdd span.selected:hover {
                color:@icon-color-selected;
            }
        #rightSnippetBar {
            position:absolute;
            right: 0;
        }
            #rightSnippetBar li a {
                padding-left:0;
            }
                #rightSnippetBar li#snippetColIcon,
                #rightSnippetBar li#snippetRowIcon,
                #rightSnippetBar li#snippetTitleOnlyIcon {
                    z-index:5100;
                }
                #rightSnippetBar li a span {
                    color:@icon-color;
                }
                #rightSnippetBar li#snippetColIcon a span {
                    margin-top:-2px;
                }
                    #rightSnippetBar li a span.active {
                        color:@icon-color-hover;
                    }
                    #rightSnippetBar li a span i {
                        color:inherit;
                    }

        #snippetTopicSearchDisplay {
            margin: 16px 0;
        }


    /*
     * Setup Snippets
     */

    @user-snippet-code-color:#e3e3bb;
    @public-snippet-code-color:#fbcb9c;
    @des-font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    @code-font-family:Menlo, Monaco, Consolas, "Courier New", monospace;

    #snippetContainer {
        //border: 1px solid red;
        //padding-left:0;
        padding-right:0;
    }
        #snippetContainer #userSnippets {
        }
            .snippet {
                .make-row();
                margin-top:5px;
                overflow:hidden; // Makes snippetSelector and snippetContent align horizontally!!!
                //border:1px solid red;
            }
                .snippetSelector {
                    position:relative;
                    float:left;
                    width:3%;
                    min-width:35px;
                    padding:0 5px;
                    z-index:600;
                }

                .snippetContent {
                    position:relative;
                    float:left;
                    width:97%;
                    border-radius:10px;
                    .make-row();
                }
                    
                    .snippetFade {
                        position:absolute;
                        left:0;
                        top:0;
                        width:100%;    
                        height:100%;    
                        margin:0 15px;
                        margin-right:50px;
                        z-index:700;
                        border-radius:6px;
                        background: rgba(245, 245, 245, 0.3);
                    }
                        .snippetFade div.layout {
                            float:left;
                            margin-left:5px;
                            background-color:#fff !important;
                            vertical-align:center;
                            cursor: pointer;
                        }
                            .snippetFade button.layout.snip-it {
                                float:left;
                                color:#fff;
                                //font-family: 'Rochester', cursive;
                                font-family: cursive;
                                font-size:14px;
                                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
                            }
                                .snippetFade .layout span {
                                    vertical-align:center;
                                    color:darken(@icon-color, 15%);
                                }
                                .snippetFade .layout.snippetColLayout span {
                                    margin-top:-2px;
                                    margin-left:10px;
                                }
                                .snippetFade .layout.snippetEdit span {
                                    margin-left:10px;
                                }
                                .snippetFade .layout.snippetDelete span {
                                    margin-top:-2px;
                                    margin-left:10px;
                                }
                                    .snippetFade .layout.snippetColLayout span.active,
                                    .snippetFade .layout.snippetRowLayout span.active,
                                    .snippetFade .layout.snippetTitleOnlyLayout span.active {
                                        color:@icon-color-hover;
                                    }
                                    .snippetFade div.layout span:hover {
                                        color:darken(@icon-hover-color, 100%);
                                    }
                        .snippetFade .snippetDelete {
                            margin-left:10px;
                        }

                    #snippetForm {
                    }
                        #snippetForm .snippetContent {
                            z-index: 5100;
                        }
                            #snippetFormBar {
                                .make-xs-column(12);
                                position:relative;
                                height:34px;
                                margin-bottom:2px;
                            }
                                #snippetForm .snippetSelector {
                                    padding:5px;
                                }
                                #snippetSave, #snippetCancel {
                                    float:right;
                                    width:46px;
                                    height:24px;
                                    margin-top:5px;
                                    border:none;
                                    border-radius: 4px;
                                    color:#fff;
                                    font-size:11px;
                                }
                                #snippetCancel {
                                    margin-right:10px;
                                    background-color:@brand-danger;
                                }
                                    #snippetCancel:hover {
                                        background-color:darken(@brand-danger, 9%);
                                    }
                                #snippetSave {
                                    background-color:@icon-color-selected;
                                }
                                    #snippetSave:hover {
                                        background-color:darken(@icon-color-selected, 9%);
                                    }
                                #snippetForm .snippetTitle {
                                }
                        #snippetForm .CodeMirror {
                            height:auto;
                            min-height:30px;
                            max-height:400px;
                            margin:5px 0;
                            border-radius:4px;
                            font-family:@code-font-family;
                            font-size: x-small;
                            background-color:@user-snippet-code-color;
                        }
                            #snippetForm .CodeMirror-scroll {
                                height:auto;
                                overflow-x:auto;
                            }
                            #snippetForm .CodeMirror-scroll {
                                [contentEditable=true]:empty:not(:focus):before{
                                    content:attr(data-ph)
                                }
                            }

                    .snippetTitle {
                        .make-xs-column(12);
                    }
                        .snippetTitle h5 {
                            font-weight:bold;
                            margin: 5px 0;
                        }
                        #titleDiv {
                            position:relative;
                        }
                        #titleField {
                            position:absolute;
                            left:0;
                            font-weight: bold;
                            font-size: 14px;
                            font-family: inherit;
                        }

                    #formContent.snippetTextAreas {
                        .make-row();
                        margin-top:34px;
                    }
                        #formContent.snippetTextAreas textarea {
                            margin:5px 0;
                            line-height:1.4;
                        }

                        .snippetDesText {
                        }
                            .snippetDesStyle {
                                font-family:@des-font-family;
                                font-size: small;
                                margin-bottom:0;
                                background-color:white;
                            }
                                textarea.snippetDesStyle {
                                    font-family:@des-font-family;
                                    font-size: small;
                                }
                            .snippetDes-col {
                                .make-sm-column(6);
                                padding-right: 5px;
                            }
                                .snippetDesText.snippetDes-col {
                                    padding-left:0;
                                }
                                .snippetDes-col ul {
                                    padding-left: 18px;
                                }
                            .snippetDes-row {
                                .make-sm-column(12);
                            }
                                .snippetDesText.snippetDes-row {
                                    padding-left:0;
                                }
                                .snippetDes-row ul {
                                    padding-left: 18px;
                                }

                        .snippetCodeText {
                            padding-top: 5px;
                            padding-bottom: 5px;
                            border-radius:4px;
                        }
                            .snippetCodeStyle {
                                font-family:@code-font-family;
                                font-size: x-small;
                            }
                                .snippetCodeStyle.owned {
                                    background-color:@user-snippet-code-color;
                                }
                                .snippetCodeStyle.notOwned {
                                    background-color:@public-snippet-code-color;
                                }
                                    .snippetCodeStyle.owned pre {
                                        font-size: x-small;
                                        background-color: transparent;
                                        padding:0;
                                        margin:0;
                                        border:none;
                                    }
                            .snippetCode-col {
                                .make-sm-column(6);
                                padding-left: 5px;
                                position:relative;
                            }
                            .snippetCode-row {
                                .make-sm-column(12);
                            }
                                .snippetCodeText.snippetCode-row {
                                    padding-left: 5px;
                                }
                                /*.snippetCommandStyle {
                                    font-size: x-small;
                                    border: none;
                                    border-top: 1px solid #bbb;
                                    padding-bottom:0;
                                    padding-left:0;
                                    margin-bottom:0;
                                    background-color:inherit;
                                }*/
#topicDeleteDialog,
#snippetDeleteDialog {
    z-index:6010;
}

#modalCover {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(245, 245, 245, 0.3);
    z-index:5000;
    pointer-events:visible;
}

.modal-backdrop.in {
    background-color: #ebebeb;
    opacity:0.4;
}

.fa {
    color:@icon-color;
}

