// The custom doTerra colors are in the variables.less file
@import "../less/variables.less";
@import "../less/mixins.less";


/*
 *Setup VEX popup styling
 */

.vex-content.signinDialog {
	font-weight:300 !important;
	width:270px !important;
    //background-color: @doterra-secondary-color !important;
    //color:#fff !important;;
}
    .vex-content.signinDialog h2 {
        margin-top:0;
    }
    .vex-content.signinDialog div.signinButton {
        position:relative;
        height:50px;
        margin-top: 8px;
        border-radius: 4px;
        border:none;
    }

    @fb-btn-color: #3da1d4;
    div.facebookButton {
        background-color:@fb-btn-color !important;
    }
    div.facebookButton:hover {
        background-color:darken(@fb-btn-color, 7%) !important;
    }

    @twt-btn-color: #67acdc;
    div.twitterButton {
        background-color:@twt-btn-color !important;
    }
    div.twitterButton:hover {
        background-color:darken(@twt-btn-color, 7%) !important;
    }

    @goog-btn-color: #dd4b39;
    div.googleButton {
        background-color:@goog-btn-color !important;
    }
    div.googleButton:hover {
        background-color:darken(@goog-btn-color, 9%) !important;
    }

    div.signinButton i {
        float: left;
        font-size: 2.5em;
        color:#fff !important;
        line-height: 50px;
        padding-left: 15px;
    }

    div.signinButton p {
        float:left;
        line-height: 50px;
        margin:0 !important;
        padding-right: 15px;
        padding-left: 10px;
        font-size: 1.1em;
        color:#fff !important;
        vertical-align: middle;
    }
    .vex-content.signinDialog ul.instructions, .vex-content.signinDialog ul.attributions {
        margin-left:10px !important;
        padding-left:10px !important;
        list-style: disc !important;
    }

.vex-content.validateDialog {
	//width:400px !important;
    background-color:#dedfe0 !important;
	font-weight:500 !important;
	font-size:0.85em !important;
}

.vex-overlay.validateDialogOverlay {
	background:none !important;
}

/*
 * Setup header
 */

nav div.navbar-header {
}
    nav form.snippetForm {
        float:left;
        min-width:300px;
        padding:10px 15px;
    }

    .glyphicon {
        font-size:1.5em;
    }

@default-rightpanel-width: 79.9%;
@default-topicpanel-width: 20%;
#snippetBlock {
}
    /*
     * Setup Topic Panel
     */

    #topicPanel {
        position:relative;
        float:left;
        width:@default-topicpanel-width;
        //min-width:100px;
        min-height:400px;
        margin-top: 30px;
        background: #eee;
    }
        #topicPanel .panel-heading {
            height:42px;
        }
        #topicPanel .panel-heading span.topicTitle {
            position:absolute;
            line-height:21px;
            vertical-align:center;
        }
        #topicPanel .panel-heading span.fa-plus {
            position:absolute;
            right:10px;
            line-height:21px;
            font-size:1.5em;
        }
        #topicPanel ul {
            padding: 0;
        }
        #topicPanel ul li {
            list-style-type: none;
        }
        #topicPanel li a {
            padding: 0;
        }
        #topicPanel li a span.fa {
            font-size:1.8em !important;
        }
        #topicPanel li a:hover {
            text-decoration: none;
        }

    /*
     * Snippet Panel
     */
    #snippetPanel {
        float: left;
        vertical-align: top;
        width:@default-rightpanel-width;
    }

    /*
     * Snippet Bar
     */
    @icon-color:#999;
    #snippetBar {
        position: relative;
        margin-top: -20px;
        height: 50px;
        border:1px solid red;
    }
        #snippetBar a {
            background-color:#fff;
        }
        #snippetBar a span:hover {
            color:darken(@icon-color, 15%);
        }
        #leftSnippetBar {
            position:absolute;
            left: 0;
        }
        #rightSnippetBar {
            position:absolute;
            right: 0;
        }
        #rightSnippetBar li a {
            padding-left:0;
        }
        #rightSnippetBar .fa-square-o, #rightSnippetBar .fa-plus {
            margin:2px 0 !important;
        }

        #snippetTopicSearchDisplay h5 {
            margin: 16px 0;
        }

    /*
     * Setup Snippets
     */
    #snippetContainer {
        border: 1px solid red;
    }

        .snippet {
            .make-row();
        }
        .snippetTitle {
            .make-sm-column(12);
        }
        .snippetTitle h5 {
            font-weight:bold;
            margin: 5px 0;
        }
        .snippetContent {
            .make-row();
        }
        .snippetDes-horz {
            .make-sm-column(6);
            font-size: small;
        }
        .snippetDes-vert {
            .make-sm-column(12);
            font-size: small;
        }
        .snippetDes-horz ul {
            padding-left: 18px;
        }
        .snippetCode-horz {
            .make-sm-column(6);
        }
        .snippetCode-vert {
            .make-sm-column(12);
        }
        .snippetCodeStyle {
            font-size: x-small;
            background-color: #e3e3bb;
            border: none;
            margin-bottom:0;
        }
        .snippetCommandStyle {
            font-size: x-small;
            background-color: #e3e3bb;
            border: none;
            border-top: 1px solid #bbb;
            padding-bottom:0;
            padding-left:0;
            margin-bottom:0;
        }

.fa {
    color:@icon-color;
}

