{% extends "layout.html" %}

{% block topicPanel %}
    {% with errors = get_flashed_messages(category_filter=['error']) %}
        {% if errors %}
            <div id="formErrors">
                {%- for error in errors %}
                    {{ error|safe }}
                {% endfor -%}
            </div>
        {% endif %}
    {% endwith %}

    <!-- don't show the topic panel if not logged in -->
    {#{% include "topic-panel.html" %}#}
    {% include "topic-panel.html" %}
{% endblock %}

{% block snippetBar %}
    {% include "snippetbar.html" %}
{% endblock %}

{% block snippets %}
    {% include "snippets.html" %}
{% endblock %}
