<!-- SNIPPET BAR -->
<div id='snippetBar'>
    <ul id='leftSnippetBar' class="nav nav-pills">
        {% if page == 'index' %}
            {% set searchString = 'class search' %}
            {% set active = 'deactivate' %}
            {% set rotate = '' %}
        {% else %}
            {% set astring = 'Python OO topic' %}
            {% set rotate = 'fa-rotate-90' %}
        {% endif %}
        <li id='toggleIcon' class={{active}}><a href="#" class={{active}}><span class="fa fa-align-justify fa-2x {{rotate}}"></span></a></li>
        <li id='snippetTopicSearchDisplay'><h5>{{searchString}}</h5></li>
    </ul>
    <ul id='rightSnippetBar' class="nav nav-pills">
        {% if page == 'index' %}
        {% set visible = 'hide' %}
        {% endif %}
        <li id='snippetAdd' class={{visible}}><a href="#"><span class="fa fa-plus fa-2x"></span></a></li>
        <li id='snippetHorzIcon'>
            <a href="#">
                <span class="fa-stack">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-bars fa-rotate-90 fa-stack-1x"></i>
                </span></a>
        </li>
        <li id='snippetVertIcon'>
            <a href="#">
                <span class="fa-stack">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-bars fa-stack-1x"></i>
                </span></a>
        </li>
        <li id='snippetTitleOnlyIcon'><a href="#"><span class="fa fa-square-o fa-2x"></span></a></li>
    </ul>
</div>
