<!-- TOPIC PANEL -->
{% if page == 'index' %}
    {% set loggedInState = 'loggedout' %}
{% else %}
    {% set loggedInState = 'loggedin' %}
{% endif %}
<div id='topicPanel' class='panel panel-default {{loggedInState}}'>
    <div class='panel-heading'>
        <span id="topicTitle">Topics</span>
        <a id="topicAdd" href="#"><span class="fa fa-plus"></span></a>
        <a id="topicEdit" href="#"><span class="fa fa-pencil"></span></a>
    </div>
    <div class='panel-body'>
        <ul class='list-group'>
            <li id='topicFormContainer' class='list-group-item' style='display:none'>
                <form id='topicForm' name='topicForm' role='form' method='post' onSubmit='return snippet.createTopic(this)'>
                        <input id='topicNameField' type="text" name="topicName" class="form-control"
                               maxlength="30" autocomplete="off" autofocus="on" placeholder="New topic title">
                </form>
            </li>
            {% for topic in topics %}
                {% if topic.topic == 'General' %}
                    <li class='list-group-item topicItem topicGeneralItem'>
                        <span class="fa fa-circle topicDelete topicDeleteInvisible" style="display:none"></span>
                        <a href="#" class="topicName">General</a>
                {% else %}
                    <li class='list-group-item topicItem'>
                        <span class="fa fa-minus-circle topicDelete" style="display:none"></span>
                        <a href="#" class="topicName">{{topic.topic}}</a>
                {% endif %}
                        <span class='badge sit-right topicCounter'>{{topic.snippets.count()}}</span>
                        <span class='topicID' style='display:none'>{{topic.id}}</span>
                    </li>
            {% endfor %}
        </ul>
    </div>
</div>

