<!-- TOPIC PANEL -->
{% if page == 'index' %}
    {% set loggedInState = 'loggedout' %}
{% else %}
    {% set loggedInState = 'loggedin' %}
{% endif %}
<div id='topicPanel' class='panel panel-default {{loggedInState}}'>
    <div class='panel-heading'>
        <span class='topicTitle'>Topics</span>
        <a id="topicAdd" href="#"><span class="fa fa-plus"></span></a>
    </div>
    <div class='panel-body'>
        <ul class='list-group'>
            <li id='topicFormContainer' class='list-group-item' style='display:none'>
                <form id='topicForm' name='topicForm' role='form' method='post' onSubmit='return snippet.createTopic(this)'>
                        <input id='topicNameField' type="text" name="topicName" class="form-control"
                               maxlength="30" autocomplete="off" autofocus="on" placeholder="New topic title">
                </form>
            </li>
            {% for topic in topics %}
            <li class='list-group-item topicItem'><a href="#">{{topic.topic}}
                <span class='badge pull-right'>{{topic.snippets.count()}}</span></a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

